<div class="admin-panel">
  <div class="buttons-container">
    <button (click)="navigateToSignUp()" class="btn btn-danger btn-lg">Gebruiker toevoegen</button>
    <button (click)="navigateToAdminPanel()" class="btn btn-danger btn-lg">Gebruiker verwijderen</button>
    <button (click)="navigateToAdminPanel()" class="btn btn-danger btn-lg">Archief</button>
    <button (click)="navigateToAdminPanel()" class="btn btn-danger btn-lg">Vraag toevoegen</button>
    <button (click)="navigateToAdminPanel()" class="btn btn-danger btn-lg">Vraag veranderen</button>
  </div>
</div>
