$primary-start: #FF0000; // Start color
$primary-end: #FF7809; // End color


.form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 2px solid #FF7809;
  border-radius: 4px;

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
      color: white;
      font-size: 15px;
    }

    .form-control {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
    &.submit-group {
      display: flex;
      justify-content: center; // This will center the button in the flex container
    }
  }

  .btn-group {
    display: flex;

    .btn {
      flex: 1;
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .btn-danger {
    background: linear-gradient(170deg, $primary-start, $primary-end);
    color: white;
    border: none;

    &:hover,
    &:active {
      background: linear-gradient(170deg, darken($primary-start, 15%), darken($primary-end, 15%));
      }
    }

}

