<app-admin-panel></app-admin-panel>
<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="voornaam">Voornaam</label>
      <input formControlName="voornaam" id="voornaam" placeholder="Voornaam..." class="form-control">
    </div>

    <div class="form-group">
      <label for="achternaam">Achternaam</label>
      <input formControlName="achternaam" id="achternaam" placeholder="Achternaam..." class="form-control">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input formControlName="email" type="email" id="email" placeholder="Email..." class="form-control">
    </div>

    <div class="form-group">
      <label for="wachtwoord">Wachtwoord</label>
      <input formControlName="wachtwoord" type="password" id="wachtwoord" placeholder="Minimaal 8 tekens..." class="form-control">
    </div>

    <div class="form-group">
      <label>Rol</label>
      <div class="btn-group">
        <button type="button" class="btn btn-danger" (click)="form.controls['rol'].setValue('true')">Ficter</button>
        <button type="button" class="btn btn-danger" (click)="form.controls['rol'].setValue('false')">Read only</button>
      </div>
    </div>

    <div class="form-group submit-group">
      <button type="submit" class="btn btn-danger">Aanmaken</button>
    </div>

  </form>
</div>
