<!-- Assuming the 'linear-gradient' and other mixins are defined and compiled correctly in your SCSS -->

<!-- Sidebar -->
<div class="sidebar">

  <!-- Logo Section -->
  <div class="logo">
      <div class="logo-img">
        <img src="assets/img/LOGO-SPINE-DARK-BG.png" alt="logo" class="sidebar-logo">
      </div>
  </div>

  <!-- Sidebar Wrapper -->
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item">
        <a routerLink="/main-view/dashboard" class="nav-link nav-text-element">
          <span>Dashboard</span>
          <img src="assets/img/icon-dashboard.png" alt="dashboard icon" class="nav-icon">
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/main-view/platforms" class="nav-link nav-text-element">
          <i class="tim-icons icon-chart-pie-36"></i>
          <span>List Platforms</span>
          <img src="assets/img/icon-files.png" alt="dashboard icon" class="nav-icon">
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/main-view/addplatform" class="nav-link nav-text-element">
          <i class="tim-icons icon-chart-pie-36"></i>
          <span>Add Platform</span>
          <img src="assets/img/icon-add-file.png" alt="dashboard icon" class="nav-icon">
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin-panel" class="nav-link">
          <i class="tim-icons icon-chart-pie-36"></i>
          <span>Admin Panel</span>
          <img src="assets/img/icon-admin.png" alt="dashboard icon" class="nav-icon">
        </a>
      </li>
      <li class="nav-item" (click)="uitloggenClicked()">
        <div class="nav-link nav-text-element nav-text-element-repair">
          <i class="tim-icons icon-chart-pie-36"></i>
          <span>Uitloggen</span>
          <img src="assets/img/icon_logout.png" alt="dashboard icon" class="nav-icon">
        </div>
<!--        <a #uitloggenLink routerLink="/" class="nav-link">-->
<!--          <i class="tim-icons icon-chart-pie-36"></i>-->
<!--          <span>Uitloggen</span>-->
<!--          <img src="assets/img/icon_logout.png" alt="dashboard icon" class="nav-icon">-->
<!--        </a>-->
      </li>
    </ul>
  </div>
</div>
