html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #1e1e2c;
}

.app-container {
  display: flex;
  flex-direction: row; /* Make it a row-based flex container */
  min-height: 100vh;
}

.sidebar {
  width: 230px;
}

.main-content {
  flex-grow: 1; /* Allow the main content to take the remaining space */
  padding: 30px;
}
